body {
  font-family: var(
    --font-main,
    "HarmonyOS Sans SC",
    "HarmonyOS Sans",
    "Microsoft YaHei",
    sans-serif
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
